<div id="submit-button">
    <a class="button-success pure-button" href="javascript:show_hide('comment-form','submit-button');">Commenter</a>
</div>

<div id="comment-form" style="display:none">
    <form class="pure-form" role="form" action="" autocomplete="off" method="post">
        <fieldset class="pure-group">
            <input class="pure-u-1-2" id="author" name="author" type="text" placeholder="Nom ou Surnom *" required>
            <input class="pure-u-1-2" id="email" name="email" type="email" placeholder="Adresse email (non publié)">
            <input class="pure-u-1-2" id="site" name="site" type="text" placeholder="Site Web">
            <input class="pure-u-1-2 hidden" id="captcha" name="captcha" type="text" placeholder="Etes vous humain ?">
        </fieldset>
        <fieldset class="pure-group">
            <textarea id="message" class="pure-u-1-2" name="message" rows="4" placeholder="Votre commentaire * (texte simple ou Markdown)" required></textarea>
            <div id="preview-container" style="display:none">
                <p>Prévisualisation en <a href="http://daringfireball.net/projects/markdown/">Markdown</a> :</p>
                <div id="preview" class="pure-u-1-2 preview-markdown"></div>
            </div>
        </fieldset>
        <fieldset>
            <label for="subscribe" class="pure-checkbox">
                <input name="subscribe" id="subscribe"
                type="checkbox">&nbsp;S'abonner aux commentaires de cet article (adresse email nécessaire)
            </label>
            <p><em>(Les champs obligatoires sont notés avec une *)</em></p>
        </fieldset>
        <button onclick="preview_markdown(); return false" class="button-warning pure-button">Prévisualiser</button>
        <button type="button" onclick="new_comment(window.location.pathname); return false;" class="button-success pure-button">Envoyer</button>
    </form>
</div>

<div id="stacosys-comments">
  {{ $restParam := (printf "/comments?token=%v&url=%v" .Site.Params.widgets.stacosys_token .URL) }}
  {{ $resp := getJSON .Site.Params.widgets.stacosys_url $restParam }}
  {{ range $resp.data }}

  <hr>
  <div class="inline">
    {{ if isset . "site" }}
      <a href="{{ .site }}">
    {{ end }}
    <img src="http://www.gravatar.com/avatar/{{ .avatar }}.jpg" style="float:left; margin-right:10px" height="32" width="32">
    {{ if isset . "site" }}
      </a>
    {{ end }}
      <span class="title">{{ .author }}</span>
      <span> - {{ .date }}</span>
  </div>
  <p>
  {{ .content | markdownify }}
  </p>
  {{ end }}
</div> 
