<header class="post-header">
    <p class="post-meta">
        <i class="fa fa-info-circle fa-md"></i>
        {{ .Date.Format "02/01/2006" }}
        {{- if isset .Params "categories" }}
            {{- $baseUrl := .Site.BaseURL }}
            {{- range .Params.categories }}, <a class="post-category post-category-{{ . }}" href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
        {{ end }}
        {{- if isset .Params "author" }}
          {{ .Site.Params.writtenby }}
          {{ with .Params.author }}
               <strong class="post-author">{{ . }}</strong>
          {{ end }}
        {{ end }}
        {{ if .Site.Params.widgets.stacosys_comments }}
          {{ $restParam := (printf "/comments/count?token=%v&url=%v" .Site.Params.widgets.stacosys_token .URL) }}
          {{ $countResp := getJSON .Site.Params.widgets.stacosys_url $restParam }}
          {{ if eq $countResp.count  1 }}
          <span><i class="fa fa-comment fa-md"></i> {{ $countResp.count }} commentaire</span>
          {{ else if gt $countResp.count 1 }}
          <span><i class="fa fa-comment fa-md"></i> {{ $countResp.count }} commentaires</span>
          {{ end }}
        {{ end }}
    </p>
</header>